

<nav class="navbar navbar-expand-lg bg-dark" style="width: 100vw; display:block; ">
                <div class="container-fluid">
                    <h5 class="stTxt">INNOVATIVE CHANGE MAKERS</h5>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active ancTc" aria-current="page" href="/" style="color: white;">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ancTc" href="/register" style="color: white;">Sign Up</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ancTc" href="/login" style="color: white;">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ancTc" href="/about" style="color: white;">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ancTc" href="/contact" style="color: white;">Contact Us</a>

                        </ul>
                    </div>
                </div>
            </nav>